In [1]:
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

import requests
from pandas.io.json import json_normalize
import json
import urllib.request

In [2]:
with open('station_information.json', 'r') as json_file:
    json_load = json.load(json_file)

    station_info = pd.DataFrame(json_load['data']['stations'])

In [3]:
station_loc = station_info[['name','lat','lon']]

In [4]:
df_2011 = pd.read_csv('cleaned_data/df_2011.csv', parse_dates = ['start_date', 'end_date'])

In [5]:
start_stations_2011 = df_2011['start_station'].unique()

In [6]:
stations_2011 = pd.DataFrame(start_stations_2011)

In [7]:
stations_2011 = stations_2011.rename(columns = {0: 'station'})

@ Killian: <br><br>
I am working with two dataframes: <br>
stations_2011 and station_loc <br>
I'm trying to get the "lat" and "lon" values from the station_loc dataframe into the stations_2011 dataframe. <br>
I tried different methods and they keep throwing up an error! <br>

In [8]:
stations_2011.head()

                          station
0                   5th & F St NW
1            14th & Harvard St NW
2  Georgia & New Hampshire Ave NW
3                  10th & U St NW
4     Adams Mill & Columbia Rd NW

In [9]:
station_loc.head()

                                           name        lat        lon
0                           Eads St & 15th St S  38.858971 -77.053230
1                        Crystal Dr & 20th St S  38.856425 -77.049232
2                        Crystal Dr & 15th St S  38.861056 -77.049417
3  Aurora Hills Cmty Ctr / 18th St & S Hayes St  38.857866 -77.059490
4    Pentagon City Metro / 12th St & S Hayes St  38.862303 -77.059936

Method 1

In [10]:
stations_2011['lat'] = np.zeros((len(stations_2011),1))
stations_2011['lon'] = np.zeros((len(stations_2011),1))

In [12]:
stations_2011.head()

                          station  lat  lon
0                   5th & F St NW  0.0  0.0
1            14th & Harvard St NW  0.0  0.0
2  Georgia & New Hampshire Ave NW  0.0  0.0
3                  10th & U St NW  0.0  0.0
4     Adams Mill & Columbia Rd NW  0.0  0.0

In [13]:
for i, j in zip(stations_2011.index, stations_2011['station']):     # Loop over (index, station name) from stations_2011
    print(i,j)
    if j in list(station_loc['name']):                              # If the station name is in the station_loc dataframe:
        print ('yes')
        stations_2011.loc [i, 'lat'] = station_loc[station_loc['name'] == j]['lat']     # Add "lat" value from station_loc to stations_2011
        stations_2011.loc [i, 'lon'] = station_loc[station_loc['name'] == j]['lon']     # Add "lon" value from station_loc to stations_2011
    else:
        print('no')

0 5th & F St NW
yes

ValueError: Incompatible indexer with Series

Method 2

In [30]:
stations_2011['lat'] = stations_2011['station'].apply(lambda x: station_loc [station_loc['name']== x]['lat'] if x in station_loc['name'] else 0)
stations_2011['lon'] = stations_2011['station'].apply(lambda x: station_loc [station_loc['name']== x]['lon'] if x in station_loc['name'] else 0)

In [31]:
stations_2011

                                               station  lat  lon
0                                        5th & F St NW    0    0
1                                 14th & Harvard St NW    0    0
2                       Georgia & New Hampshire Ave NW    0    0
3                                       10th & U St NW    0    0
4                          Adams Mill & Columbia Rd NW    0    0
..                                                 ...  ...  ...
139             3000 Connecticut Ave NW / National Zoo    0    0
140  Benning Rd & East Capitol St NE / Benning Rd M...    0    0
141     Anacostia Ave & Benning Rd NE / River Terrace     0    0
142                     15th St & Massachusetts Ave SE    0    0
143                             Congress Heights Metro    0    0

[144 rows x 3 columns]

In [27]:
d = {'a': [1, 2], 'b': [3, 4]}

e = {'a': [10, 20], 'b': [30, 40]}

apples = pd.DataFrame(d)
oranges = pd.DataFrame(e)

In [28]:
apples

   a  b
0  1  3
1  2  4

In [29]:
oranges

    a   b
0  10  30
1  20  40

In [ ]:
apples['c'] = apples['a'].apply(lambda x: oranges[oranges['a']])

In [15]:
stations_2011

                                               station  lat  lon
0                                        5th & F St NW    0    0
1                                 14th & Harvard St NW    0    0
2                       Georgia & New Hampshire Ave NW    0    0
3                                       10th & U St NW    0    0
4                          Adams Mill & Columbia Rd NW    0    0
..                                                 ...  ...  ...
139             3000 Connecticut Ave NW / National Zoo    0    0
140  Benning Rd & East Capitol St NE / Benning Rd M...    0    0
141     Anacostia Ave & Benning Rd NE / River Terrace     0    0
142                     15th St & Massachusetts Ave SE    0    0
143                             Congress Heights Metro    0    0

[144 rows x 3 columns]

All "lat" and "lon" values are zero!!!