In [9]:
from collections import defaultdict
import pandas as pd

In [2]:
d = defaultdict(list)

In [3]:
d

defaultdict(list, {})

In [5]:
for i in range (5):
    d[i].append(i)

In [8]:
d[1]

[1]

In [10]:
df = pd.DataFrame({'num_legs': [4, 2], 'num_wings': [0, 2]},
                  index=['dog', 'hawk'])

In [11]:
df

      num_legs  num_wings
dog          4          0
hawk         2          2

In [14]:
for r in df.itertuples():
    print(r)

Pandas(Index='dog', num_legs=4, num_wings=0)
Pandas(Index='hawk', num_legs=2, num_wings=2)

In [15]:
# Defining the dict
d = defaultdict(int)
   
L = [1, 2, 3, 4, 2, 4, 1, 2]
   
# Iterate through the list
# for keeping the count
for i in L:
       
    # The default value is 0
    # so there is no need to 
    # enter the key first
    d[i] += 1

In [16]:
d

defaultdict(int, {1: 2, 2: 3, 3: 1, 4: 2})

In [19]:
for k, v in d.items():
    print (k, v)

1 2
2 3
3 1
4 2